/* ############ Universal ############ */
:root {
  --beige-color: #FFE9D3;
  --bone-color: #FFF5E9;
  --fern-color: #365E42;
  --brown-color: #A96E55;
  --oak-color: #5E4036;
}
* {
  margin: 0;
  color: var(--oak-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

/* NAVBAR  */
.navbar .container {
  background-color: var(--beige-color);
  overflow: auto;
  height: 86px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.logo-container {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 60px;
  margin-right: 10px
}

.logo-container h2 {
  font-size: 2em;
}

.navbar ul {
  margin-right: 60px;
}

.navbar ul li {
  float: left;
  list-style: none;

  padding: 20px 30px;
  font-size: 1.6em;

  &:hover {
    background-color: green;
  }
}

/* HERO */
.hero {
  display: flex;
  justify-content: center;

  background-image: url(./img/jonathan-borba-pIO8zFpgL_s-unsplash.jpg);
  min-height: 65dvh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  background-color: hsl(from var(--fern-color) h s l / 80%);
  border-radius: 25px;
  max-width: 47dvw;
  margin: 30px 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.hero-text h1, .hero-text p {
  color: var(--bone-color);
}



/* CONTENT */
.content {
  display: flex;
  background-color: var(--fern-color);
}

