@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Great+Vibes&display=swap');

/* ############ Universal ############ */
:root {
  --beige-color: #FFE9D3;
  --bone-color: #FFF5E9;
  --fern-color: #365E42;
  --brown-color: #A96E55;
  --oak-color: #5E4036;
  --shadow: rgba(0, 0, 0, 25%);
}



* {
  margin: 0;

  font-family: 'Crimson Text', monospace;
  color: var(--oak-color);
}


.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--fern-color);
}

/* NAVBAR  */
.navbar .container {
  background-color: var(--beige-color);
  box-shadow: 0 4px 4px 0 var(--shadow);
  
  overflow: auto;
  height: 86px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.logo-container {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 60px;
  margin-right: 5px
}

.logo-container h2 {
  font-size: 3em;
  font-family: 'Great Vibes', sans-serif;
  font-weight: 400;
}

.navbar ul {
  margin-right: 60px;
}

.navbar ul li {
  float: left;
  list-style: none;

  font-size: 1.7em;
  
}

.navbar ul li a {
  padding: 20px 30px;
  border-radius: 25px;
  
  &:hover {
    background-color: var(--brown-color);
    color: var(--bone-color);
  }
}

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  

  background-image: url(./img/jonathan-borba-pIO8zFpgL_s-unsplash.jpg);
  min-height: 65dvh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  background-color: hsl(from var(--fern-color) h s l / 80%);
  box-shadow: 0 4px 4px 0 var(--shadow);
  border-radius: 25px;
  max-width: 47dvw;
  margin: 30px 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.hero-text h1, .hero-text p {
  color: var(--bone-color);
}

.hero-text h1 {
  margin: 50px 0;
  font-size: 3.8em;
  font-weight: 600;
}

.hero-text p {
  margin: 0 150px;
  text-align: center;
  font-size: 1.8em;
}

.hero-text .button {
  background-color: var(--bone-color);
  margin-top: 10dvh;
  padding: 0 50px;

  font-size: 2.7em;
  border-radius: 42px;
  border: 6px solid var(--oak-color);
  box-shadow: 0 4px 4px 0 var(--shadow);

  &:hover {
    background-color: var(--oak-color);
    color: var(--bone-color);
  }
}


/* HOME CONTENT */
.content {
  box-shadow: 0 4px 4px 0 var(--shadow) inset;
  background-color: var(--fern-color);
  min-height: 75dvh;
}

.content {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 9fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  /* margin: 75px 100px; */
  height: 100%;
}



.content img {
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
}

.content-text {
  background-color: var(--beige-color);
  grid-area: 2 / 4 / 3 / 5;
  padding: 60px;
  font-size: 1.7em;
}

.content-text p {
  padding-bottom: 20px;
}

/* Background element */
.background {
  background-color: var(--beige-color);
  border: 11px solid var(--brown-color);
  border-radius: 25px;
  box-shadow: 4px 8px 4px 0 var(--shadow);

}


/* MENU */
/* Larger grid 3x4 */
.menu {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 5fr 1fr;
  grid-template-rows: 3fr 1fr 6fr 3fr 6fr 2fr;
  justify-items: center;

  margin: 30px 300px;
  /* max-height: 80dvh; */


}

/* Table within grid */
.left-item {
  text-align: end;
}
.right-item {
  text-align: start;
}

hr {
  border: 1px solid var(--oak-color);
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

th {
  font-size: 2.5em;
  font-weight: 600;
  padding: 0 5px;
}

thead hr {
  width: 100px;
}

td {
  padding: 0 5px;
  font-size: 1.7em;
}

tbody hr {
  border: none;
  border-bottom: 1px solid var(--oak-color);
  width: 75px;
  
}

.menu h1 {
  grid-area: 1 / 3;
  font-size: 3.5em;
  font-weight: 600;
}

#menu1 {
  grid-area: 3 / 2;
}

#menu2 {
  grid-area: 3 / 4;
}

#menu3 {
  grid-area: 5 / 2;
}

#menu4 {
  grid-area: 5 / 4;
}



/* Location page */
.location {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr 9fr 1fr;
  grid-template-rows: 1fr 0.6fr 5fr 1fr 1fr;
  justify-items: center;
  align-items: start;

  margin: 30px 300px;
}

.location h1 {
  grid-area: 1 / 3;
  font-size: 3.5em;
  font-weight: 600;
}

.business-hours {
  grid-area: 3 / 2;
}

#map-img {
  grid-area: 3 / 4;
  width: 100%;
}

.address {
  grid-area: 4 / 4;
  font-size: 2em;
  text-align: center;
  padding-top: 5px;
}