@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Great+Vibes&display=swap');

/* ############ Universal ############ */
:root {
  --beige-color: #FFE9D3;
  --bone-color: #FFF5E9;
  --leaf-color: #AEDA93;
  --fern-color: #365E42;
  --brown-color: #A96E55;
  --oak-color: #5E4036;
  --shadow: rgba(0, 0, 0, 25%);
}



* {
  margin: 0;

  font-family: 'Crimson Text', monospace;
  color: var(--oak-color);
}


.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--fern-color);
}

/* ##################### NAVBAR ##################### */
.navbar .container {
  background-color: var(--beige-color);
  box-shadow: 0 4px 4px 0 var(--shadow);
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container h2 {
  font-family: 'Great Vibes', sans-serif;
  font-weight: 400;
  padding: 8px 5px;
  border-radius: 25px;

  &:hover {
    background-color: var(--brown-color);
    color: var(--bone-color);
  }
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  border-radius: 25px;
  
  &:hover {
    background-color: var(--brown-color);
    color: var(--bone-color);
  }
}
/* Mobile */
@media (max-width: 480px) {
  .navbar .container {
    height: 7dvh;
  }
  .logo-container {
    flex-direction: column;
    margin-left: 5dvw;
  }
  .logo-container img {
    height: 4dvh;
  }
  .logo-container h2 {
    display: none;
  }
  .navbar ul {
    margin-right: 5dvw;
    padding-inline-start: 0;
  }
  .navbar ul li {
    float: left;
    font-size: 1.2em;
  }
  .navbar ul li a {
    padding: 10px;
  }
}

/* Laptop */
@media (min-width: 769px) and (max-width: 1255px) {
  .navbar .container {
    height: 10dvh;
  }
  .logo-container {
    margin-left: 3dvw;
  }
  .logo-container img {
    height: 40px;
  }
  .logo-container h2 {
    font-size: 2.5em;
  }
  .navbar ul {
    margin-right: 3dvw;
  }
  .navbar ul li {
    float: left;
    font-size: 1.7em;
  }
  .navbar ul li a {
    padding: 10px 10px;
  }
}

/* Desktop */
@media (min-width: 1256px) {
  .navbar .container {
    height: 10dvh;
  }
  .logo-container {
    margin-left: 100px;
  }
  .logo-container img {
    height: 60px;
    margin-right: 5px
  }
  .logo-container h2 {
    font-size: 3em;
  }
  .navbar ul {
    margin-right: 60px;
  }
  .navbar ul li {
    float: left;
    font-size: 1.7em;
  }
  .navbar ul li a {
    padding: 20px 30px;
  }
}

/* ##################### HERO ##################### */
.hero {
  display: flex;
  justify-content: center;
  

  background-image: url(./img/jonathan-borba-pIO8zFpgL_s-unsplash.jpg);
  min-height: 65dvh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  background-color: hsl(from var(--fern-color) h s l / 80%);
  box-shadow: 0 4px 4px 0 var(--shadow);
  border-radius: 25px;
  max-width: 47dvw;
  margin: 30px 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.hero-text h1, .hero-text p {
  color: var(--bone-color);
}

.hero-text h1 {
  margin: 50px 0;
  font-size: 3.8em;
  font-weight: 600;
}

.hero-text p {
  margin: 0 150px;
  text-align: center;
  font-size: 1.8em;
}

.hero-text .button {
  background-color: var(--bone-color);
  margin-top: 10dvh;
  padding: 0 50px;

  font-size: 2.7em;
  border-radius: 42px;
  border: 6px solid var(--oak-color);
  box-shadow: 0 4px 4px 0 var(--shadow);

  &:hover {
    background-color: var(--oak-color);
    color: var(--bone-color);
  }
}


/* ##################### HOME CONTENT ##################### */
.content {
  box-shadow: 0 4px 4px 0 var(--shadow) inset;
  background-color: var(--fern-color);
  min-height: 75dvh;
}

.content {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 9fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  /* margin: 75px 100px; */
  height: 100%;
}



.content img {
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
}

.content-text {
  background-color: var(--beige-color);
  grid-area: 2 / 4 / 3 / 5;
  padding: 60px;
  font-size: 1.7em;
}

.content-text p {
  padding-bottom: 20px;
}

/* Background element */
.background {
  background-color: var(--beige-color);
  border: 11px solid var(--brown-color);
  border-radius: 25px;
  box-shadow: 4px 8px 4px 0 var(--shadow);

}


/* ##################### Menu page ##################### */
/* Larger grid 3x4 */
.menu {
  display: grid;
  justify-items: center;
}

/* Table within grid */
.left-item {
  text-align: end;
}
.right-item {
  text-align: start;
}

hr {
  border: 1px solid var(--oak-color);
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

th {
  font-weight: 600;
  padding: 0 5px;
}

thead hr {
  width: 100px;
}

td {
  padding: 0 5px;
}

tbody hr {
  border: none;
  border-bottom: 1px solid var(--oak-color);
  width: 75px;
  
}

.menu h1 {
  font-weight: 600;
}

/* Mobile */
@media (max-width: 480px) {
  .menu {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 0fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr;
    margin: 2dvh 4dvw;
  }
  .menu h1 {
    font-size: 2.5em;
    grid-area: 1 / 2;
  }
  #menu1 {
    grid-area: 3 / 2;
  }
  #menu2 {
    grid-area: 5 / 2;
  }
  #menu3 {
    grid-area: 7 / 2;
  }
  #menu4 {
    grid-area: 9 / 2;
  }

  th {
    font-size: 1.7em;
  }
  td {
    font-size: 1.4em;
  }
}
/* Tablet */
@media (min-width: 769px) and (max-width: 1255px) {
  .menu {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 0fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr;
    margin: 2dvh 16dvw;
  }
  .menu h1 {
    font-size: 3.5em;
    grid-area: 1 / 2;
  }
  #menu1 {
    grid-area: 3 / 2;
  }
  #menu2 {
    grid-area: 5 / 2;
  }
  #menu3 {
    grid-area: 7 / 2;
  }
  #menu4 {
    grid-area: 9 / 2;
  }

  th {
    font-size: 2.5em;
  }
  td {
    font-size: 1.7em;
  }
}

/* Desktop */
@media (min-width: 1256px) {
  .menu {
    grid-template-columns: 1fr 5fr 2fr 5fr 1fr;
    grid-template-rows: 3fr 1fr 6fr 3fr 6fr 2fr;
    margin: 2dvh 16dvw;
  }
  .menu h1 {
    font-size: 3.5em;
    grid-area: 1 / 3;
  }
  #menu1 {
    grid-area: 3 / 2;
  }
  #menu2 {
    grid-area: 3 / 4;
  }
  #menu3 {
    grid-area: 5 / 2;
  }
  #menu4 {
    grid-area: 5 / 4;
  }

  th {
    font-size: 2.5em;
  }
  td {
    font-size: 1.7em;
  }
}


/* ##################### Location page ##################### */
.location {
  display: grid;
  grid-template-columns: 1fr 9fr 4fr 9fr 1fr;
  grid-template-rows: 1fr 0.6fr 5fr 1fr 1fr;
  justify-items: center;
  align-items: start;

  margin: 20px 300px;
}

.location h1 {
  grid-area: 1 / 3;
  font-size: 3.5em;
  font-weight: 600;
}

.business-hours {
  grid-area: 3 / 2;
}

.img-container {
    display: flex;
    justify-content: center;
    grid-area: 3 / 4;
}

#map-img {
  width: 100%;
  border-radius: 11px;
}

.address {
  grid-area: 4 / 4;
  font-size: 2em;
  text-align: center;
  padding-top: 5px;
}

/* Mobile */
@media (max-width: 480px) {
  .location {
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 0.5fr 2fr 0.3fr 2fr 1fr ;

    margin: 2dvh 4dvw;
  }

  .location h1 {
    font-size: 2.5em;
    grid-area: 1 / 2;
  }

  .business-hours {
    grid-area: 2 / 2;
  }
  .business-hours th hr {
    width: 80px;
  }
  .business-hours td hr {
    width: 50px;
  }

  .img-container {
    grid-area: 4 / 2;
    width: 100%;
    overflow: hidden;
  }
  .background #map-container {
    border: 5px solid var(--brown-color);
  }
  #map-img {
    transform: scale(1.5, 1.5);
  }

  .address {
    grid-area: 5 / 2;
    font-size: 1.7em;
  }
}



/* ##################### Contact page ##################### */
.contact {
  margin: 20px 600px;
}

.contact h1 {
  grid-area: 1 / 3;
  font-size: 3.5em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2dvh;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name, #email, #message {
  width: 25dvw;
  height: 5dvh;
  margin: 10px;
  font-size: 2em;

  background-color: var(--bone-color);
  border-width: 6px;

  padding-block: 10px;
  padding-inline: 10px;

  &:focus {
    outline: none;
    border-color: var(--oak-color);
  }
}

::placeholder {
    color: var(--brown-color);
  }

#message {
  height: 25dvh;
}


.contact form button {
  background-color: var(--leaf-color);
  margin: 7dvh 0;
  padding: 0 50px;

  font-size: 2.3em;
  border-radius: 42px;
  border: 6px solid var(--fern-color);
  color: var(--fern-color);
  box-shadow: 0 4px 4px 0 var(--shadow);

  &:hover {
    background-color: var(--fern-color);
    color: var(--leaf-color);
  }
}
